/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

* {
	box-sizing: border-box;
}

body {
	font-size: 14pt;
	font-family: Arial, Helvetica, sans-serif;
}

a:link,a:visited {
	text-decoration: none;
	color: blue;
}
a:hover,a:active {
	text-decoration: underline;
}

strong, b {
	font-weight: bold;
}

header {
	width: 960px;
	height: 200px;
	margin: 0px auto;
	background-image: url('/assets/images/bphoa_banner_bg.png');
	background-position: right top;
	background-repeat: no-repeat;
	overflow: hidden;
}

header h1, header p{
	width: 480px;
	text-align: center;
}

header h1 {
	font-size: 200%;
	margin-top: 35px;
}

header p {
	font-size: 140%;
	margin-top: 20px;
}

nav {
	width: 960px;
	margin: 0px auto;
	height: 45px;
	background: #000762; /* Old browsers */
	background: -moz-linear-gradient(top,  #000762 0%, #0d186b 20%, #0f1b68 50%, #0d186b 80%, #000762 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000762), color-stop(20%,#0d186b), color-stop(50%,#0f1b68), color-stop(80%,#0d186b), color-stop(100%,#000762)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000762 0%,#0d186b 20%,#0f1b68 50%,#0d186b 80%,#000762 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000762 0%,#0d186b 20%,#0f1b68 50%,#0d186b 80%,#000762 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000762 0%,#0d186b 20%,#0f1b68 50%,#0d186b 80%,#000762 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000762 0%,#0d186b 20%,#0f1b68 50%,#0d186b 80%,#000762 100%); /* W3C */
} 

nav ol {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

nav ol li {
	display: inline-block;
	padding-top: 13px;
	padding-left: 28px;
	padding-right: 20px;
	height: 45px;
	color: #FFFF00;
}

nav ol li a:link, nav ol li a:visited {
	color: #FFFF00;
}

/* Page Content */
article {
	width: 960px;
	padding: 30px 30px;
	margin: 0px auto;
}

article h1, article h2 {
	font-weight: bold;
	color: #000762;
}

article h1 {
	font-size: 150%;
}

article h2 {
	font-size: 120%;
	margin-top: 30px;
}

article p {
	margin-top: 20px;
}

article ol, article ul {
	margin-top: 10px;
	padding-left: 50px;
}

article ol {
	list-style: decimal outside none;
}

article ul {
	list-style: disc outside none;
}

article li {
	margin-bottom: 5px;
}

article dl {
	margin-top: 20px;
	width: 520px;
	padding: 0px;
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #999;
}

article dl dt {
	font-weight: bold;
	clear: left;
	float: left;
	width: 220px;
	padding: 5px;
	border-top: 1px solid #999;
}

article dl dd {
	float: left;
	clear: right;
	width: 300px;
	margin: 0;
	padding: 5px;
	border-top: 1px solid #999;
}

article dl.wide {
	width: 720px;
}

article dl.wide dd {
	width: 500px;
}

p.alert {
	border: 1px solid #999;
	padding: 10px 15px;
	margin-bottom: 10px;
	font-size: 120%;
	line-height: 1.4;
}

footer {
	width: 960px;
	margin: 30px auto 0px auto;
	padding-bottom: 20px;
	text-align: center;
	border-top: 2px solid #000;
	overflow: hidden;
}

footer p {
	font-size: 90%;
	margin-top: 10px;
}

#reader_download {
	font-size:90%;
	width: 158px;
	margin: 20px auto;
}

#paypal {
	width: 145px;
	margin: 15px auto;
}