<!DOCTYPE html>
<html>
<head>
    <title>University Woods BPHOA - {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/style.css"></head>
</head>
<body>
<header>
    <h1>University Woods<br />Bonneville Pines HOA</h1>
    <p>A Family Oriented Community</p>
</header>
<nav class="gradient">
    <ol>
        <li><a href="index.html">Home</a></li>
        <li><a href="bylaws.html">By-Laws</a></li>
        <li><a href="architecture_request.html">Architecture Request</a></li>
        <li><a href="community_alerts.html">Community Alerts</a></li>
        <li><a href="contact.html">Contact Us</a></li>
    </ol>
</nav>
{{ content }}
<footer>
    <p>&copy; Copyright 2018 University Woods BPHOA, All Rights Reserved.</p>
    <p><a href="contact.html">Contact Us</a></p>
</footer></body>
</html>